@use "../abstracts" as a;

#about {
  padding-top: 30px;
  background-color: a.$offwhite;
  background-image: url(../images/drawing.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 350px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-container h3 {
  font-family: a.$heading-font-family;
  font-weight: bold;
  margin-bottom: 20px;
}
.flex-container p {
  font-family: a.$heading-font-family;
  margin-bottom: 20px;
  color: a.$grey;
}

.buttonRead {
  font-family: a.$heading-font-family;
  margin-bottom: 20px;
  font-size: 20px;
}

.buttonRead a {
  text-decoration: none;
  color: a.$black;
  font-weight: 600;
}

.buttonRead a:hover {
  border-bottom: 3px solid black;
}

.error-message {
  font-family: a.$heading-font-family;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .flex-container h3 {
    font-weight: bold;
    font-size: 25px;
  }

  #about {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-container h3 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;
  }

  .flex-container p {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
