@use "../abstracts" as a;

#footer-con {
  padding-top: 60px;
  color: a.$lavender;
  margin-bottom: 40px;
}

.address-con,
.links-con,
.social-con {
  font-family: a.$heading-font-family;
  color: a.$black;
}

.address h3,
.links h3,
.socials h3 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.address p span {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.address p,
.links ul,
.socials ul {
  font-size: 18px;
  line-height: 30px;
  color: a.$grey;
}

.links ul,
.socials ul {
  list-style: none;

  padding: 0px;
}

.links ul li a,
.socials ul li a {
  text-decoration: none;
  color: a.$grey;
}

.copyrights {
  font-family: a.$heading-font-family;
  color: a.$grey;
  font-size: 12px;
}
